WebClient/Service References/ServiceHesap/HesaplamaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HesaplamaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1423/HesaplamaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1423/HesaplamaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHesaplamaService_Carpma_InputMessage">
    <wsdl:part name="parameters" element="tns:Carpma" />
  </wsdl:message>
  <wsdl:message name="IHesaplamaService_Carpma_OutputMessage">
    <wsdl:part name="parameters" element="tns:CarpmaResponse" />
  </wsdl:message>
  <wsdl:message name="IHesaplamaService_Bolme_InputMessage">
    <wsdl:part name="parameters" element="tns:Bolme" />
  </wsdl:message>
  <wsdl:message name="IHesaplamaService_Bolme_OutputMessage">
    <wsdl:part name="parameters" element="tns:BolmeResponse" />
  </wsdl:message>
  <wsdl:message name="IHesaplamaService_Toplama_InputMessage">
    <wsdl:part name="parameters" element="tns:Toplama" />
  </wsdl:message>
  <wsdl:message name="IHesaplamaService_Toplama_OutputMessage">
    <wsdl:part name="parameters" element="tns:ToplamaResponse" />
  </wsdl:message>
  <wsdl:message name="IHesaplamaService_Cikarma_InputMessage">
    <wsdl:part name="parameters" element="tns:Cikarma" />
  </wsdl:message>
  <wsdl:message name="IHesaplamaService_Cikarma_OutputMessage">
    <wsdl:part name="parameters" element="tns:CikarmaResponse" />
  </wsdl:message>
  <wsdl:portType name="IHesaplamaService">
    <wsdl:operation name="Carpma">
      <wsdl:input wsaw:Action="http://tempuri.org/IHesaplamaService/Carpma" message="tns:IHesaplamaService_Carpma_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHesaplamaService/CarpmaResponse" message="tns:IHesaplamaService_Carpma_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Bolme">
      <wsdl:input wsaw:Action="http://tempuri.org/IHesaplamaService/Bolme" message="tns:IHesaplamaService_Bolme_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHesaplamaService/BolmeResponse" message="tns:IHesaplamaService_Bolme_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Toplama">
      <wsdl:input wsaw:Action="http://tempuri.org/IHesaplamaService/Toplama" message="tns:IHesaplamaService_Toplama_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHesaplamaService/ToplamaResponse" message="tns:IHesaplamaService_Toplama_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Cikarma">
      <wsdl:input wsaw:Action="http://tempuri.org/IHesaplamaService/Cikarma" message="tns:IHesaplamaService_Cikarma_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHesaplamaService/CikarmaResponse" message="tns:IHesaplamaService_Cikarma_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHesaplamaService" type="tns:IHesaplamaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Carpma">
      <soap:operation soapAction="http://tempuri.org/IHesaplamaService/Carpma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Bolme">
      <soap:operation soapAction="http://tempuri.org/IHesaplamaService/Bolme" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Toplama">
      <soap:operation soapAction="http://tempuri.org/IHesaplamaService/Toplama" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cikarma">
      <soap:operation soapAction="http://tempuri.org/IHesaplamaService/Cikarma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HesaplamaService">
    <wsdl:port name="BasicHttpBinding_IHesaplamaService" binding="tns:BasicHttpBinding_IHesaplamaService">
      <soap:address location="http://localhost:1423/HesaplamaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>